/*
Starting with the color that I'm using for all of my pages

They are also all using a Banner for the title

The colors all come from the top picture in index.html 
*/


body {
    background-color: #3B5E8C;
    font-family: 'Ubuntu', sans-serif;
}

#banner {
    background-color: #3B5E8C;
    grid-column: 3/10;
    grid-row:1/5;
}



#haleyPicture {
    background-color: #3B5E8C;
    grid-column: 1/3;
    grid-row: 1/5;
}

#HaleyInfo {
    grid-column: 1/10;
    grid-row: 5/7;
}

#haleySadie {
    grid-column: 1/4;
    grid-row: 7/10;
}

#haleyGraduation {
    grid-column: 7/10;
    grid-row: 7/10;
}

#links {
    grid-column: 4/7;
    grid-row: 7/10;
}

#happyHaley {
    grid-column: 1/3;
    grid-row: 1/3;
}

/* Styling for the wrapper class with which I implement css grid */
.wrapper > div{
    background: #3b5e8c;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: 100px, auto;
    grid-column-gap: 1em;
    grid-auto-rows: minmax(100px, auto);
    border: 2px;
}

.HaleyInfo > h1, p {
    padding-left: 300px;
    padding-right: 300px;
    text-align: center;
}

/* Styling for the central div with links to the other pages */
#links {
    padding-top: 50%;
    padding-bottom: 40%;
    text-align: center;
}

a:hover {
    color: white;
}

a:visited {
    color: red;
}

/* Using divs to store all images, so this makes all my pictures fit correctly*/
img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

/* 
AboutHaley.html

Q & A from my interview with Haley
to be included in the AboutHaley.html page
*/

#aboutTitle {
    grid-column: 3/10;
    grid-row: 1/3;
    font-size: x-large
}

#aboutTitle > h1 {
    text-align: center;
    padding-top: 100px;
}

.question {
    grid-column: 3/6;
    background-color: whitesmoke;
    border: 15px;
    border-radius: 15px;
}

.question > p {
    float: left;
    padding-left: 20px;
    padding-right: 20px;
}

.answer {
    grid-column: 5/8;
    border: 15px;
    border-radius: 15px;
}

.answer > p {
    padding-left: 20px;
    padding-right: 20px;
}

#q1, #q2, #q3, #q4, #q5, #q6, #q7, #q8, #q9, #q10 {
    background-color: #A0B9D9;

}

#a1, #a2, #a3, #a4, #a5, #a6, #a7, #a8, #a9, #a10 {
    background-color: #BFAE5A;
}

/* Creating DIVs for the left and right side to hold photos*/

#PicturesLeft {
    grid-column: 1/3;
    grid-row: 3/22;
    background-color: whitesmoke;
}

#PicturesRight {
    grid-column: 8/10;
    grid-row: 3/22;
    background-color:beige
}

/* Getting to Work with HaleyHobbies.html */

#hobbiesTitle {
    grid-column: 1/10;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 100px, auto;
}

#hobbieMainPicture {
    grid-column: 5/6;
    grid-row: 1/2;
}

#hobbiePageIntro {
    grid-column: 1/5;
    grid-row: 1/2;
}

#Pokemon {
    grid-column: 2/9;
    grid-Row: 2/4;
    display: grid;
    grid-template-columns: repeat(5, fr);
}

#poke1 {
    grid-column: 1/5;
    grid-row: 1/2;
}

#poke2 {
    grid-column: 5/6;
    grid-row: 1/2;
}

#MagicTheGathering {
    grid-column: 2/9;
    grid-row: 4/7;
    display: grid;
    grid-template-columns: repeat(5, fr);
}

#magic2 {
    grid-column: 5/6;
    grid-row: 1/2;
}

#magic1 {
    grid-column: 1/5;
    grid-row: 1/2; 
}

#Fortnite {
    grid-column: 2/9;
    grid-row: 6/9;
    display: grid;
    grid-template-columns: repeat(5, fr);
    grid-template-rows: 50px, auto;
}

#fort1 {
    grid-column: 1/5;
    grid-row: 1/3;
}

#fort2 {
    grid-column: 5/6;
    grid-row: 1/2;
}

#BreakingBad {
    grid-column: 2/9;
    grid-row: 12/15;
    display: grid;
    grid-template-columns: repeat(5, fr);
    grid-template-rows: 50px, auto;
}

#breaking1 {
    grid-column: 1/5;
    grid-row: 1/5;
}

#breaking2 {
    grid-column: 5/6;
    grid-row: 1/3;
}

#StainedGlass {
    grid-column: 2/9;
    grid-row: 15/18;
    display: grid;
    grid-template-columns: repeat(5, fr);
    grid-template-rows: 50px, auto;
}

#glass1 {
    grid-column: 1/5;
    grid-row: 1/5;
}

#glass2 {
    grid-column: 5/6;
    grid-row: 1/3;
}

#poke2 > p, #fort2 > p, #magic2 > p, #breaking2 > p, #glass2 > p {
    align-content: center;
    font-size: 24px;
    padding-top: 20px;
}