/*
Starting with the color that I'm using for all of my pages

They are also all using a Banner for the title

The colors all come from the top picture in index.html 
*/


body {
    background-color: #3B5E8C;
    font-family: 'Ubuntu', sans-serif;
}

* {box-sizing: border-box}
body {font-family: 'Ubuntu', sans-serif;;}

/* Navbar will be on every page */
.navbar {
  width: 100%;
  background-color: #3B5E8C;
  overflow: auto;
}

.navbar a {
  float: left;
  padding: 12px; 
  color: #BFAE5A;
  text-decoration: none;
  font-size: 17px;
  width: 25%; /* Four links of equal widths */
  text-align: center;
}

@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
    width: 100%;
    text-align: left;
  }
}

/* Working on the Landing Page */

.header {
    background-color:  #3b5e8c; 
    color: #f2f2f2;
    padding: 20px;
    font-style: italic;
    text-align: center;
    width: 100%;
}

#landingPageIntro {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: 150px, auto;
    padding: 3rem;
    margin-left: 150px;
    margin-right: 150px;
}

.IntroDivPic {
    grid-column: 1/3;
    grid-row: 1/3;
}

.introDivText {
    grid-column: 3/10;
    grid-row: 1/2;
    align-content: center;
}

.card-list {
    display: flex;
    padding: 3rem;
    overflow-x: scroll;
}

.card-list::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

.card {
    display: flex;
    position: relative;
    flex-direction: column;
    height: 550px;
    width: 450px;
    min-width: 250px;
    padding: 1.5rem;

    border-radius: 16px;
    background: #17141d;
    box-shadow: -1rem 0 3rem;

    transition: .4s;
}

.card:hover {
    transform: translateY(-1rem);
}

.card:hover~.card {
    transform: translateX(130px);
}

.card:not(:first-child) {
    margin-left: -130px;
}

.card-header > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 15px;
    border-radius: 15px;
    height: 480px;
    width: 380px;
    object-fit: fit ;
}

/* Styling for the wrapper class with which I implement css grid */
.wrapper > div{
    background: #3b5e8c;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: 100px, auto;
    grid-column-gap: 1em;
    grid-auto-rows: minmax(100px, auto);
    border: 2px;
    column-gap: 5px;
    row-gap: 5px;
}

/*
.HaleyInfo > h1, p {
    padding-left: 300px;
    padding-right: 300px;
    text-align: center;
}
*/

/* Styling for the central div with links to the other pages */
#links {
    padding-top: 50%;
    padding-bottom: 40%;
    text-align: center;
}

a:hover {
    color: #BFAE5A;
}

a:visited {
    color: #F26241;
}

/* Using divs to store all images, so this makes all my pictures fit correctly*/
img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

/* 
HaleyInterview.html

Q & A from my interview with Haley
to be included in the AboutHaley.html page

The goal was to make the conversation resemble back-and-forth text messages,
which was how the interview was actually conducted.
*/

#aboutTitle {
    grid-column: 3/10;
    grid-row: 1/3;
    font-size: x-large
}

#aboutTitle > h1 {
    text-align: center;
    padding-top: 100px;
}

.question {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column: 2/6;
    border: 15px;
    border-radius: 15px;
}

.question > h1 {
    display: contents;
    grid-column: 1/2;
    align-content: flex-start;
}

.question > p {
    grid-column: 2/3;
    float: left;
}

.answer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column: 5/9;
    border: 15px;
    border-radius: 15px;
    border-color: black;
}

.answer > h1 {
    display: inline;
    grid-column: 1/2;
    width: 100%;
    height:auto;
}

.answer > p {
    width: 100%;
    height: 100%;
    grid-column: 2/4;
}

#q1, #q2, #q3, #q4, #q5, #q6, #q7, #q8, #q9, #q10 {
    background-color: #A0B9D9;

}

#a1, #a2, #a3, #a4, #a5, #a6, #a7, #a8, #a9, #a10 {
    background-color: #BFAE5A;
}

/* Creating DIVs for the left and right side to hold photos*/

/*
#PicturesLeft {
    grid-column: 1/3;
    grid-row: 3/22;
    background-color: whitesmoke;
}

#PicturesRight {
    grid-column: 8/10;
    grid-row: 3/22;
    background-color:beige
}
*/